<fieldset>
    <legend>{{title}}</legend>
    <!-- NAME -->
    <div class="form-group">
        <label for="list-name">Name</label><br>
        <input id="list-name" type="text" name="name" value="{{ item.name }}"/>
    </div>

    <!-- IMAGE -->
    <div class="form-group">
    <form action="upload.php" method="post" enctype="multipart/form-data">
        Select image to upload:
        <input type="file" name="fileToUpload" id="fileToUpload">
    </form>
    </div>
    
    <!-- IMAGE -->
    <div class="form-group">
        <label for="list-image">Link image</label><br>
        <input id="list-image" type="text" name="image" value="{{ item.image }}">
    </div>
    </fieldset>

    <!-- PRICE -->
    <div class="form-group">
        <label for="list-price">Price</label><br>
        <input id="list-price" type="text" name="price" value="${{ item.price }}"/>
    </div>
    
    <!-- DESCRIPTION -->
    <div class="form-group">
        <label for="list-description">Description and Quantity</label><br>
        <input id="list-description" type="text" name="description" value="{{ item.description }}"/>
    </div>

    <!-- BUTTON -->
    <div class="form-group">
        <button type="submit" formaction="/" formmethod="GET">Cancel</button>
        <button type="submit">Save item</button>
    </div>