<!-- templates/base.html -->

<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Pantry</title>
    <!-- Latest compiled and minified CSS -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://bootswatch.com/4/minty/bootstrap.min.css'>
    <link rel='stylesheet' href='../static/styles.css'
</head>
<body>
  
        
    {% include 'partials/navbar.html' %}
    {% block body %}{% endblock %}
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- Footer -->
<footer class='page-footer font-small blue pt-4'>
        
    </footer>
</body>
</html>