{% extends 'base.html' %}

{% block title %}Item{% endblock %}

{% block body %}
    <div class='row'><center>
    <div class="card" style="max-width: 35rem;">
            <h3 class="card-header">{{ item.name }}</h3>
            <div class="card-body">
              <h5 class="card-title">Category: {{ item.type }}</h5>
            </div>
            <img style="height: 280px; width: 100%; display: block;" src="{{ item.image }}" alt="No image">
            <div class="card-body">
              <p class="card-text">Description: {{ item.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Amount: {{ item.amount }}</li>
              <li class="list-group-item">Expiration Date: {{ item.expiration }}</li>
            </ul>
            <div class="btn-group" role="group" aria-label="Basic example">
                    <p><form action='/'>
                        <button type='submit' class="btn btn-secondary">Back to home</button>
                    </form></p>
                    <p><form action="/pantry/{{ item._id }}/edit">
                        <button type="submit" class="btn btn-secondary">Edit</button>
                    </form></p>
                    <p><form method='POST' action='/pantry/{{ item._id }}/delete'>
                        <button type='submit' class="btn btn-secondary">Delete</button>
                    </form></p>
                    <p><form method='POST' action='/pantry/{{ item._id }}/add-to-cart'>
                        <button type='submit' class="btn btn-secondary">Add to Cart</button>
                    </form></p>
                </center>
            </div>
          </div>
        </div>
          
{% endblock %}