{% extends 'base.html' %}

    {% block body %}
    <div class="jumbotron">
        <center><h1 class="display-5">Welcome to Your Pantry!</h1>
        <p class="lead">The virtual pantry will track the amount and expiration date of every item in your pantry.<br> The Pantry can make recipes from the ingredients that you pick.</p></center>
        </p>
        <div class ="row">
            <div class="card border-primary mb-3" style="max-width: 40rem;">
                <div class="card-header">Food fact of the Day</div>
                <div class="card-body">
                  <p class="card-text">{{fact}}</p>
                </div>
              </div>
            <div class="card border-primary mb-3" style="max-width: 40rem;">
                <div class="card-header">Food Joke of the Day</div>
                <div class="card-body">
                  <p class="card-text">{{joke}}</p>
                </div>
              </div>
            </div>
      </div>

    <div class="container-fluid">
      <div class="row">
        {% for item in pantry %}
        
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <center>
                  <div class="card-header">
                    <h1 ><a style="color: white;" href='/pantry/{{ item._id }}'>{{ item.name }}</a></h1>
                    <h3 class="card-subtitle text-muted">{{ item.type }}</h3>                       
                  </div>
                      <img style="height: 200px; width: 100%; display: block;" src="{{ item.image }}" alt="No image">
                        <div class="card-body">
                          <div class="col">
                            <h4 class="card-title">{{ item.description }}</h4>
                            <h5 class="card-title">Exp. Date: {{ item.expiration }}</h5>
                          </div>
                          <div class="form-group">
                              <button type="button" class="btn btn-success btn-sm">Amount: {{ item.amount }}</button>
                              </form>
                          </div>
                              <form method='POST' action='/pantry/{{ item._id }}/add-to-ingredients'>
                                <button type='submit' class="btn btn-info btn-lg btn-block">Add to Ingredients</button>
                              </form>
                          </div>
          </center>
        </div>
        {% if loop.index % 4 == 0 %}
        <div class="w-100"></div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <p><form action='/'><center>
        <button type='submit' class="btn btn-primary">Back to Top</button>
    </center></form></p>
    {% endblock %}

