
{% extends 'base.html' %}

{% block title %}Ingredients{% endblock %}

{% block body %}
    <div class='row'>
        {% for item in ingredients %}
        <div class="card border-primary mb-3" style="max-width: 20rem;"><center>
                <div class="card-header">{{ item.type }}</div>
                <div class="card-body">
                        <h1 ><a style="color: grey;" href='/pantry/{{ item._id }}'>{{ item.name }}</a></h1>
                  <img style="height: 200px; width: 100%; display: block;" src="{{ item.image }}" alt="No image">
                  <p class="card-text">{{ item.expiration}}</p>
                </div>
                <form action="/pantry/ingredients/destroy">
                    <button type="submit" class="btn btn-primary">Remove Ingredient</button>
                </form>
              </center></div>
        {% endfor %}
    </div>
    <form action="/pantry/ingredients/destroy">
        <button type="submit" class="btn btn-primary">Empty Ingredients</button>
    </form>

    <form action="/pantry/ingredients/recipes">
        <button type="submit" class="btn btn-primary">Find Recipes</button>
    </form>
{% endblock %}